<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/icons/apple-touch-icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <!-- Template CSS -->
    <link href="assetsB/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('../partials/ecomAdminAside') %>
    <main class="main-wrap">
        <%- include('../partials/ecomAdminHeader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>


                <div>
                    <a href="/admin/addcategory" class="btn btn-primary"><i
                            class="text-muted material-icons md-post_add"></i>Create </a>
                </div>


            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md">
                            <div class="table">


                                <% if (categories.length> 0) { %>
                                    <table  class="table" id="categories">
                                        <thead>
                                            <tr>
                                                <th>image</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th style="width: 70px;">Status</th>
                                                <th class="text-end">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i=0; i < categories.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <img src="assets/images/categoryImages/<%= categories[i].image %>"
                                                            alt="Category Image" style="width: 45px; "
                                                             />
                                                    </td>
                                                    <td>
                                                        <%= categories[i].category %>
                                                    </td>
                                                    <td>
                                                        <%= categories[i].description %>
                                                    </td>
                                                    <td style="width: 70px;">
                                                        <% if (categories[i].isListed) { %><span class="badge badge-pill badge-soft-primary">Listed</span><% } else { %><span class="badge badge-pill badge-soft-danger">Unlisted</span>
                                                        <% } %>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="dropdown">
                                                            <a href="#" data-bs-toggle="dropdown"
                                                                class="btn btn-light rounded btn-sm font-sm"> <i
                                                                    class="material-icons md-more_horiz"></i> </a>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" >
                                                                    <% if (categories[i].isList) { %>
                                                                        <a href="/admin/unlist-category?id=<%= categories[i]._id.toString() %>">
                                                                         
                                                                           <p class="text-danger ms-4">Unlist</p>
                                                                         
                                                                        </a>
                                                                      <% } else { %>
                                                                        <a href="/admin/unlist-category?id=<%= categories[i]._id.toString() %>">
                                                                          
                                                                            <p class="text-primary ms-4">List</p>
                                                                         
                                                                        </a>
                                                                      <% } %>
                                                                   </a>
                                                                <a class="dropdown-item" href="/admin/edit-category?id=<%= categories[i]._id.toString() %>">Edit info</a>
                                                          
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <p>Category not found</p>
                                        <% } %>

                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
     <script>
       $(document).ready(function () {
    new DataTable('#categories');

     })
      </script>
   
    <script src="assetsB/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsB/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsB/js/vendors/select2.min.js"></script>
    <script src="assetsB/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsB/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assetsB/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="assetsB/js/main.js" type="text/javascript"></script>
    <script src="assetsB/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>