<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/icons/apple-touch-icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <!-- Template CSS -->
    <link href="assetsB/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('../partials/ecomAdminAside') %>
    <main class="main-wrap">
        <%- include('../partials/ecomAdminHeader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products </h2>
                    <p>Add, edit or delete a Product</p>
                </div>


                <div>
                    <a href="/admin/addproduct" class="btn btn-primary"><i
                            class="text-muted material-icons md-post_add"></i>Create </a>
                </div>


            </div>
            <div class="card">
                <div class="row align-items-center mx-2 my-4">
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                      <div class="custom_select">
                        <select class="form-select" id="filterSelect">
                            <option value="all">Product status</option>
                            <option value="all">All product</option>
                            <option value="unblocked">Listed</option>
                            <option value="blocked">Unlisted</option>
                            <option value="instock">Instock</option>
                            <option value="outofstock">Out of stock</option>
                            
                        </select>
                    </div>
                  </div>
                    
                      <div class="col-md-2 col-6">
                          <div class="custom_select">
                              <select class="form-select select-nice">
                                  <option selected>Sort by Date</option>
                                  
                                  <option>Latest</option>
                                  <option>Earliest</option>
                                  
                              </select>
                          </div>
                      </div>
                  </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md">
                            <div>


                                <% if (products.length> 0) { %>
                                    <table class="table" id="products">
                                        <thead>
                                            <tr>
                                                <th>image</th>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th>Quantity</th>
                                                <th style="width: 70px;">Status</th>
                                                <th class="text-end">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i=0; i < products.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <img src="public/assets/images/productImages/<%= products[i].productImages[0] %>"

                                                            alt="Category Image" style="width: 45px;"  />
                                                    </td>
                                                    <td>
                                                        <%= products[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= products[i].category %>
                                                    </td>
                                                    <td>
                                                        <%= products[i].quantity %>
                                                    </td>
                                                    <td>
                                                        
                                                        <% if (products[i].list) { %><span class="badge badge-pill badge-soft-primary">Listed</span><% } else { %><span class="badge badge-pill badge-soft-danger">Unlisted</span>
                                                            <% } %>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="dropdown">
                                                            <a href="#" data-bs-toggle="dropdown"
                                                                class="btn btn-light rounded btn-sm font-sm"> <i
                                                                    class="material-icons md-more_horiz"></i> </a>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" >
                                                                    <% if (products[i].list) { %>
                                                                        <a href="/admin/unlist-product?id=<%= products[i]._id.toString() %>">
                                                                         
                                                                           <p class="text-danger ms-4">Unlist</p>
                                                                         
                                                                        </a>
                                                                      <% } else { %>
                                                                        <a href="/admin/unlist-product?id=<%= products[i]._id.toString() %>">
                                                                          
                                                                            <p class="text-primary ms-4">List</p>
                                                                         
                                                                        </a>
                                                                      <% } %>
                                                                   </a>
                                                                <a class="dropdown-item" href="/admin/show-product?id=<%= products[i]._id.toString() %>">Show info</a>
                                                                <a class="dropdown-item" href="/admin/edit-product?id=<%= products[i]._id.toString() %>">Edit info</a>
                                                               
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <p>Products not found</p>
                                        <% } %>

                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-start">
                    <% if (currentPage > 1) { %>
                      <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>">
                          <i class="material-icons md-chevron_left"></i>
                        </a>
                      </li>
                    <% } %>
                
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <% if (i === currentPage) { %>active<% } %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                      </li>
                    <% } %>
                
                    <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>">
                          <i class="material-icons md-chevron_right"></i>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </nav>
              </div>
              
        </section> <!-- content-main end// -->

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
// Get the filter select element
const filterSelect = document.getElementById("filterSelect");

filterSelect.addEventListener("change", function() {
    const selectedOption = filterSelect.value;
    let url = '/admin/productlist';

    if (selectedOption === "blocked") {
        url += '?status=unlisted';
    } else if (selectedOption === "unblocked") {
        url += '?status=listed';
    } else if (selectedOption === "instock") {
        url += '?status=instock';
    } else if (selectedOption === "outofstock") {
        url += '?status=outofstock';
    }else if(selectedOption==="all"){
        url += '?status=all';

    }
    console.log(selectedOption);

    window.location.href = url;
});



        
        
        
            </script>
    <script src="assetsB/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsB/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsB/js/vendors/select2.min.js"></script>
    <script src="assetsB/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsB/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assetsB/js/vendors/chart.js"></script>
    
    <!-- Main Script -->
    <script src="assetsB/js/main.js" type="text/javascript"></script>
    <script src="assetsB/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>