
<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/icons/apple-touch-icon.png" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <!-- Template CSS -->
    <link href="assetsB/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('../partials/ecomAdminAside') %>
    <main class="main-wrap">
        <%- include('../partials/ecomAdminHeader') %>
        <section class="content-main">
            <form name="productform" id="productform" form action="" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                     
                    </div>
                </div>
                <% if (typeof message !== 'undefined' && message) { %>
                    <p style="color: rgb(0, 125, 209);" id="message"><%= message %></p>
                <% } %>



                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Media</h5>
                    </div>
                    <div class="card-body d-flex">
    
                        <div class="m-4">
                            <label for="image1">Image 1:</label>
                            <img id="imgView<%= 0 %>" src="../../public/assets/images/productImages/placeholder.jpg" alt="" class="border rounded mt-3"><br>
                            <div class="d-flex justify-content-around">
                            <label class="edit-icon text-primary" for="fileInput1">
                          
                                <i class="fa fa-pencil" ></i> Add
                            </label>
                          
                            <div class="edit-icon text-danger" onclick="deleteImage(event, 0)">
                                <a href="#" class="text-muted"> <i class="fa fa-close" aria-hidden="true"></i> Delete</a>
                            </div>
    
                        </div>
                            <input id="fileInput1" class="form-control hidden" accept="image/*" name="image1" type="file" onchange="viewImage(event, 0)" value="">
                        </div>
                        <br>
                        <div class="m-4 ">
                        <label for="image2">Image 2:</label>
                        <img id="imgView<%= 1 %>" src="../../public/assets/images/productImages/placeholder.jpg"alt="" class="border rounded mt-3">
                        <div class="d-flex justify-content-around">
                            <label class="edit-icon text-primary" for="fileInput2">
                          
                                <i class="fa fa-pencil" aria-hidden="true"></i> Add
                            </label>
                            <div class="edit-icon text-danger" onclick="deleteImage(event, 1)">
                                <a href="#" class="text-muted"> <i class="fa fa-close" aria-hidden="true"></i> Delete</a>
                            </div>
                        </div>
    
                        <input id="fileInput2"  class="form-control hidden" name="image2" accept="image/*"  type="file" onchange="viewImage(event,1)" value="">
                    </div>
                        <br>
                        <div class="m-4 ">
                        <label for="image3">Image 3:</label>
                        <img id="imgView<%= 2 %>" src="../../public/assets/images/productImages/placeholder.jpg" alt="" class="border rounded mt-3">
                        <div class="d-flex justify-content-around">
                            <label class="edit-icon text-primary" for="fileInput3">
                          
                                <i class="fa fa-pencil" aria-hidden="true"></i> Add
                            </label>
                            <div class="edit-icon text-danger" onclick="deleteImage(event, 2)">
                                <a href="#" class="text-muted"> <i class="fa fa-close" aria-hidden="true"></i> Delete</a>
                            </div>
                        </div>
                        <input id="fileInput3" class="form-control hidden" accept="image/*" name="image3"  type="file" onchange="viewImage(event,2)" value="">
                    </div>
                        <br>
                        <div class="m-4  ">
                        <label for="image4">Image 4:</label>
                        <img id="imgView<%= 3 %>" src="../../public/assets/images/productImages/placeholder.jpg" alt="" class="border rounded mt-3">
                        <div class="d-flex justify-content-around">
                            <label class="edit-icon text-primary" for="fileInput4">
                          
                                <i class="fa fa-pencil" aria-hidden="true"></i> Add
                            </label>
                            <div class="edit-icon text-danger" onclick="deleteImage(event, 3)">
                                <a href="#" class="text-muted"> <i class="fa fa-close" aria-hidden="true"></i> Delete</a>
                            </div>
                        </div>
                        <input id="fileInput4" class="form-control hidden" accept="image/*" name="image4"  type="file" onchange="viewImage(event,3)" value="">
                    </div>
                        <br>
    
                        
    
                        
                
                    </div>
           
                    
                    
                </div>
            
                
              
     
        
        <div class="row">

                <div class="col-lg-6">
                    <div class="card ">
                        <div class="card-body ">
                            <h5 >Product Info</h5>
                            <div >
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="name">
                                <div class="error"></div>
                            </div>
                            <div class="row gx-3">
                               
                                <div >
                                    <label for="product_size" class="form-label">Quanity</label>
                                    <input type="number" placeholder="Type here" class="form-control" name="quantity">
                                    <div class="error"></div>
                                </div>
                            </div>
                          
                            <div >
                                <label for="product_brand" class="form-label">product Color</label>
                                <input type="text" placeholder="Type here" class="form-control" name="productColor">
                                <div class="error"></div>
                            </div>
                            <div >
                                <label for="product_brand" class="form-label">discription</label>
                                <textarea name="discription" placeholder="Type here" class="form-control" ></textarea>
                                <div class="error"></div>
                            </div>
                       
                        </div>
                        
                    </div> <!-- card end// -->

                   

                   
               
                </div>
                <div class="col-lg-6">
    
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price">
                                <div class="error"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="discountPrice">
                                <div class="error"></div>
                            </div>
                          
              
                            <hr>
                            <h5 class="mb-3">Categories</h5>
                       
    
                            <%
                            if(category)
                            if(category.length>0){
                                for(let i=0;i<category.length;i++){
                                    %>
                            <div class="form-check">
                                <input class="form-check-input" name="category" type="radio" value="<%= category[i].category %>" id="product-cat">
                                <label class="form-check-label"  for="product-cat"><%= category[i].category %></label>
                            </div>
                            <% } }%>
                            
                   
                            
                         
                        </div>
                       
                    </div> <!-- card end// -->
    


                
            </div> 
            
         
            </div>
            <div class="row">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="my-2">Product Specifications</h5>
                        
                        <div class="row gx-3 ">
                            <div class="  mb-3  col-lg-6">
                                <label for="product_title" class="form-label">Battery</label>
                                <input type="text" placeholder="Type here" class="form-control" name="battery">
                            </div>
                           
                            <div class="  mb-3  col-lg-6">
                                <label for="product_size" class="form-label">Ram</label>
                                <input type="text" placeholder="Type here" class="form-control" name="ram">
                            </div>
                        </div>
                         
                        <div class="row gx-3 ">
                            <div class="  mb-3  col-lg-6">
                                <label for="product_title" class="form-label">Rom</label>
                                <input type="text" placeholder="Type here" class="form-control" name="rom">
                            </div>
                           
                            <div class="  mb-3  col-lg-6">
                                <label for="product_size" class="form-label">Expandable</label>
                                <input type="text" placeholder="Type here" class="form-control" name="expandable">
                            </div>
                        </div>
                         
                        <div class="row gx-3 ">
                            <div class="  mb-3  col-lg-6">
                                <label for="product_title" class="form-label">RearCam</label>
                                <input type="text" placeholder="Type here" class="form-control" name="rearCam">
                            </div>
                           
                            <div class="  mb-3  col-lg-6">
                                <label for="product_size" class="form-label">FrontCam</label>
                                <input type="text" placeholder="Type here" class="form-control" name="frontCam">
                            </div>
                        </div>
                      
                        <div class="mb-4">
                            <label for="product_brand" class="form-label">Processor</label>
                            <input type="text" placeholder="Type here" class="form-control" name="processor">
                        </div>
                    </div>
                </div> <!-- card end// -->

            </div>
            <div>
                           
                <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Create Product">
            </div>
        </form>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, UrbanApple.com 
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assetsB/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsB/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsB/js/vendors/select2.min.js"></script>
    <script src="assetsB/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsB/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assetsB/js/vendors/chart.js"></script>
    <script src="/public/assets/js/validation.js"></script>
    <!-- Main Script -->
    <script src="assetsB/js/main.js" type="text/javascript"></script>
    <script src="assetsB/js/custom-chart.js" type="text/javascript"></script>
</body>
                    
<script>
  
    // }


    function viewImage(event, imageIndex) {
    const imgView = document.getElementById(`imgView${imageIndex}`);
    imgView.src = URL.createObjectURL(event.target.files[0]);
}

function deleteImage(event, imageIndex) {

    const imgView = document.getElementById(`imgView${imageIndex}`);
    imgView.src = "../../public/assets/images/productImages/placeholder.jpg";


    const fileInput = document.getElementById(`fileInput${imageIndex + 1}`);
    fileInput.value = "";
}

    
</script>


</html>
