
<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/icons/apple-touch-icon.png" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <!-- Template CSS -->
    <link href="assetsB/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include('../partials/ecomAdminAside') %>
    <main class="main-wrap">
        <%- include('../partials/ecomAdminHeader') %>



        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Users </h2>
                    <p>All the users are listed below</p>
                </div>
                
            </div>
      

            <div class="card mb-4">
          
                    <div class="row align-items-center mx-2 my-4">
                      <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <div class="custom_select">
                          <select class="form-select" id="filterSelect">
                              <option value="all">User status</option>
                              <option value="all">All Users</option>
                              <option value="unblocked">Unblocked Users</option>
                              <option value="blocked">Blocked Users</option>
                              
                          </select>
                      </div>
                    </div>
                      
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice">
                                    <option selected>Sort by Date</option>
                                    
                                    <option>Latest</option>
                                    <option>Earliest</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </header> 
                <div class="card-body">
                    <div class="table">
                        <div class="table">

                            <% if (users.length> 0) { %>
                                <table  class="table">
                                  <thead class="bg-light">
                                    <tr>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Mobile</th>
                                      <th style="width: 130px;">Status</th>
                                      <th style="width: 130px;">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% for (let i=0; i < users.length; i++) { %>
                                      <tr>
                                        <td>
                                          <div class="d-flex align-items-center">
                                            <img src="assets/images/userImages/<%= users[i].image %>" alt="" style="width: 45px; height: 45px"
                                              class="rounded-circle" />
                                            <div class="ms-3">
                                              <p class="fw-bold mb-1">
                                                <%= users[i].name %>
                                              </p>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <p class="fw-normal mb-1">
                                            <%= users[i].email %>
                                          </p>
                                        </td>
                                        <td>
                                          <p class="fw-normal mb-1">
                                            <%= users[i].mobile %>
                                          </p>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">
                                                <% if (users[i].isBlocked ) { %><span class="badge badge-pill badge-soft-danger">Blocked</span><% } else { %><span class="badge badge-pill badge-soft-primary">Unblocked</span>
                                                <% } %>
                                            
                                            </p>
                                          </td>
                          
                                        <td>
                                            <% if (users[i].isBlocked) { %>
                                                <a href="/admin/block-user?id=<%= users[i]._id.toString() %>">
                                                  <button type="button" class="btn btn-outline-danger ms-1 ">
                                                    Unblock
                                                  </button>
                                                </a>
                                              <% } else { %>
                                                <a href="/admin/block-user?id=<%= users[i]._id.toString() %>">
                                                  <button type="button" class="btn btn-outline-primary ms-1">
                                                    Block
                                                  </button>
                                                </a>
                                              <% } %>
                                              
                          
                          
                          
                                        </td>
                                      </tr>
                                      <% } %>
                                  </tbody>
                                </table>
                                <% } else { %>
                                  <td>User not found</td>
                                  <% } %>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
          
            <div class="pagination-area mt-30 mb-50">
              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-start">
                      <% if (currentPage > 1) { %>
                          <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                  <i class="material-icons md-chevron_left"></i>
                              </a>
                          </li>
                      <% } %>
          
                      <li class="page-item">
                          <a class="page-link" href="?page=1">1</a>
                      </li>
          
                      <% for (let i = 2; i <= totalPages; i++) { %>
                          <li class="page-item">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                          </li>
                      <% } %>
          
                      <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                  <i class="material-icons md-chevron_right"></i>
                              </a>
                          </li>
                      <% } %>
                  </ul>
              </nav>
          </div>
          
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
filterSelect.addEventListener("change", function() {
    const selectedOption = filterSelect.value;
    console.log(selectedOption);
    

    let url = '/admin/userlist';
    
    if (selectedOption === "blocked") {
        url += '?blocked=true';
    } else if (selectedOption === "unblocked") {
        url += '?blocked=false';
    } else if (selectedOption === "all"){
      url += '?blocked=all'

    }


    window.location.href = url;
});




    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
     <script>
       $(document).ready(function () {
    new DataTable('#users');

     })
      </script>

    <script src="assetsB/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsB/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsB/js/vendors/select2.min.js"></script>
    <script src="assetsB/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsB/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assetsB/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="assetsB/js/main.js" type="text/javascript"></script>
    <script src="assetsB/js/custom-chart.js" type="text/javascript"></script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>
