<%- include('../layouts/header') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<!-- Include a required theme -->
<!-- <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css"> -->
<script src="sweetalert2/dist/sweetalert2.min.js"></script>

<body>
    <div class="page-wrapper">
        <%- include('../partials/ecomHeader1') %>
        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                     
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <% if (cart.length === 0) { %>
                    <div class="container d-flex justify-content-center align-items-center" >
                        <div class="text-center">
                          <i class="fa-solid fa-cart-plus" style="font-size: 40px; margin-top: 70px;"></i>
                            <h4 class="text-secondary mt-3">Your Cart is currently empty</h4>
                            <p>Before proceed to checkout you must add some Products to Your cart</p>
                            <a href="/home"  class="btn btn-outline-primary-2 m-4" >Return to Shop</a>
                        
                            
                        </div>
                    </div>
                   
                    
                    <% } else { %>
                   
            	<div class="cart" >
	                <div class="container ">
	                	<div class="row">
	                		<div class="col-lg-9">
	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Product</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>
                                    

									<tbody>
                                        <% for (let i = 0; i < cart.length; i++) { %>
										<tr>
											<td class="product-col">
												<div class="product">
													<figure class="product-media">
														<a href="#">
															<img src="public/assets/images/productImages/<%= cart[i].product.productImages[0] %>" alt="Product image">
														</a>
													</figure>

													<h3 class="product-title">
														<a href="#"><%= cart[i].product.name %></a>
													</h3><!-- End .product-title -->
												</div><!-- End .product -->
											</td>
											<td class="price-col">₹<%= cart[i].product.discountPrice %></td>
                      <td class="quantity-col">
                        <div class="cart-product-quantity">
                            <input type="number" class="form-control" value="<%= cart[i].quantity %>" min="1" max="3" step="1" data-decimals="0" required onchange="updateCart('<%= cart[i].product._id %>', this.value)">
                        </div>
                    </td>



										
											<td class="total-col"> <% if (outOfStockError && cart[i].product.quantity < cart[i].quantity) { %>
                        <label style="color: red;"> Out of Stock</label>
                    <% } else { %>
                      ₹<%= productotal[i] %>                    <% } %></td>
                                            




                      <td class="remove-col  notifications" >
                        <button class="btn-remove" id="warning" onclick="confirmRemoveCartItem('<%= cart[i].product._id %>');">
                            <i class="icon-close"></i>
                        </button>
                        
                        <!-- <button class="btn-remove" id="warning" onclick="myFunction()">
                            <i class="icon-close"></i>
                        </button>
                    </td> -->

                </tr>
										
                                        </tr>
                                        <% } %>
									
									</tbody>
								</table>
                                <% } %>
                             

                                

	          
	                		</div><!-- End .col-lg-9 -->
	                		
                                    <% if (cart.length === 0) { %>

	                			
                                    <% }else{ %>
                                        <aside class="col-lg-3">
                                            <div class="summary summary-cart">
                                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-subtotal">
                                                  <% if (outOfStockError ==true) { %>
                                                  
                                                    <td>Subtotal:</td>
                                                    <td>.............</td>
          
                                                <% } else { %>
                                               
                                                  <td>Subtotal:</td>
                                                  <td>₹<%= subtotal %></td>     
                                                        <% } %>
          
                                                </tr><!-- End .summary-subtotal -->
                                                <tr class="summary-shipping">
                                                    <td>Shipping:</td>
                                                    <td>&nbsp;</td>
                                                </tr>
    
                                                <tr class="summary-shipping-row">
                                                    <td>
                                                         <div class="custom-control custom-radio">
                                                            <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                            <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td>$0.00</td>
                                                </tr><!-- End .summary-shipping-row -->
    
                                         
    
                                                <tr class="summary-shipping-row">
                                                    <td>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                            <label class="custom-control-label" for="express-shipping">Express:</label>
                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td>₹100.00</td>
                                                </tr><!-- End .summary-shipping-row -->
    
                                                <tr class="summary-shipping-estimate">
                                                    <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                                                    <td>&nbsp;</td>
                                                </tr><!-- End .summary-shipping-estimate -->
    
                                                <tr class="summary-total">
                                                  <% if (outOfStockError ==true) { %>
                                                  
                                                    <td>Total:</td>
                                                    <td>.............</td>
          
                                                <% } else { %>
                                               
                                                  <td>Total:</td>
                                                    <td>₹<%= subtotalWithShipping %></td>   
                                                        <% } %>
                                                   
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table>
                                        <% if (outOfStockError ==true) { %>
                                          <label style="color: red;">Some products in cart are Out of Stock</label>
                                        
                                          <button class="btn btn-block btn-outline-primary-2 disabled" disabled>PROCEED TO CHECKOUT</button>

                                      <% } else { %>
                                        <label style="visibility: hidden;">Some products in cart are Out of Stock</label>
                                        <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>              <% } %>




                                        
                                    </div><!-- End .summary -->
    
                                    <a href="/productlist" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside><!-- End .col-lg-3 -->



                                        <% } %>

	                	
	                	</div><!-- End .row -->
	                </div>
                    <!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <div id="snackbar">The item is removed from cart..</div>

        <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <%- include('../partials/ecomMobileMenu') %>
    






<script>
  function updateCart(productId, newQuantity) {
        fetch(`/updateCart?productId=${productId}&quantity=${newQuantity}`, {
            method: 'PUT',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                console.error('Failed to update cart:', data.error);
            }
        })
        .catch(error => {
            console.error('Error updating cart:', error);
        });
    }

    function removeCartItem(productId) {
    fetch(`/removeCartItem?productId=${productId}`, {
        method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            console.error('Failed to remove cart item:', data.error);
        }
    })
    .catch(error => {
        console.error('Error removing cart item:', error);
    });
}
</script>
<script>


    function confirmRemoveCartItem(productId) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            background: '#ffffff', 
            customClass: {
              popup: 'white-background', 
            },
            showCancelButton: true,
          
          
            confirmButtonText: "Yes, delete it!",
           
        }).then((result) => {
            if (result.isConfirmed) {
            
                removeCartItem(productId);
               
            }
        });
    }
    
        function updateCart(productId, newQuantity) {
            fetch(`/updateCart?productId=${productId}&quantity=${newQuantity}`, {
                method: 'PUT',
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
    
                } else {
                    console.error('Failed to update cart:', data.error);
                }
            })
            .catch(error => {
                console.error('Error updating cart:', error);
            });
        }
    
        function removeCartItem(productId) {
        fetch(`/removeCartItem?productId=${productId}`, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                localStorage.setItem('productRemoved', 'true');
                location.reload();
                
            } else {
                console.error('Failed to remove cart item:', data.error);
            }
        })
        .catch(error => {
            console.error('Error removing cart item:', error);
        });
    }
    document.addEventListener('DOMContentLoaded', function () {
        const productRemoved = localStorage.getItem('productRemoved');
        if (productRemoved === 'true') {
            myFunction();
            localStorage.removeItem('productRemoved'); 
    
        }
    });
    function myFunction() {
      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        const shippingRadios = document.querySelectorAll('input[name="shipping"]');
        const totalElement = document.querySelector('.summary-total td:last-child');
        
        let currentTotal = parseInt(totalElement.textContent, 10);
    
        let selectedShippingOption = null;
    
        shippingRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                const selectedShippingCost = parseInt(this.value, 10);
    
                console.log('Selected Shipping Cost:', selectedShippingCost);
    
                if (selectedShippingOption !== null) {
                    currentTotal -= selectedShippingOption;
                }
    
                currentTotal += selectedShippingCost;
    
                totalElement.textContent = currentTotal;
    
                selectedShippingOption = selectedShippingCost;
            });
        });
    });
    
        </script>
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <style>
        #snackbar {
            visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color:#ff4343;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 10;
      left: 50%;
      bottom: 30px;
      font-size: 12px;
    }
        
        
        #snackbar.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;} 
          to {bottom: 30px; opacity: 1;}
        }
        
        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }
        
        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;} 
          to {bottom: 0; opacity: 0;}
        }
        
        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
    
    
        </style>

  

    <%- include('../layouts/footer.ejs') %>


    
    