<%- include('../layouts/header') %>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        


              
                </div><!-- End .container -->
            </div>
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="assets/images/logo.png" alt="applestore Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav" >
                            <ul class="menu sf-arrows">
                                
                                <li >
                                    <a style="text-transform: none; font-weight: 300;" href="index.html" >Home</a>

                       
                                </li>
                              
                                <li>
                                    <a style="text-transform: none; font-weight: 300;" href="product.html" >Categories</a>

                              
                                </li>
                                <li>
                                    <a style="text-transform: none; font-weight: 300;"  href="#" >Blog</a>

                                 
                                </li>
                                <li>
                                    <a  style="text-transform: none; font-weight: 300;" href="blog.html" >Contact</a>

                               
                                </li>
                              
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                 
                   
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->


        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                   
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
                            <%- include('../partials/ecomUserProfileAside') %>
	                		<div class="col-md-8 col-lg-10">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	
                                        <section class="content-body p-xl-4">
                                            
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="row gx-3">
                                                            <div class="col-12  mb-3">
                                                                <form action="/edituser" method="post" enctype="multipart/form-data">
                                                                <label class="form-label">Name</label>
                                                                <input class="form-control" name="name" type="text" placeholder="Type here" value="<%= user.name %>">
                                                            </div> <!-- col .// -->
                                                           <!-- col .// -->
                                                            <div class="col-lg-6  mb-3">
                                                                <label class="form-label">Email</label>
                                                                <input disabled class="form-control" name="email" type="email"  value="<%= user.email %>">
                                                            </div> <!-- col .// -->
                                                            <div class="col-lg-6  mb-3">
                                                                <label class="form-label">Phone</label>
                                                                <input class="form-control" type="number" name="mno" value="<%= user.mobile %>">
                                                            </div> <!-- col .// -->
                                                            
                                                     
                                                        </div> <!-- row.// -->
                                                    </div> <!-- col.// -->
                                                    <aside class="col-lg-2">
                                                        <figure class="text-lg-center">
                                                            <img class="img-lg mb-3 img-avatar" src="assets/images/userImages/<%=user.image%>"  alt="User Photo">
     
                                                        </figure>
                                                        <input type="file" class="form-control" value="<%=user.image%>"  name="image">
                                                    </aside> <!-- col.// -->
                                                </div> <!-- row.// -->
                                                <br>
                                                <input class="btn btn-primary" type="submit">
                                            </form>
                                            <hr class="my-5">
                                            <div class="row" style="max-width:920px">
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/changePassword">Change</a>
                                                        <h6 class="mt-2">Password</h6>
                                                        <small class="text-muted d-block " style="width:70%">You can reset or change your password by clicking here</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/edituser?userId=<%= user._id.toString() %>">Edit</a>
                                                        <h6 class="mt-2">Edit account</h6>
                                                        <small class="text-muted d-block" style="width:70%">You can change your account details by clicking here.</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/delete-user?id=<%= user._id.toString() %>">Deactivate</a>
                                                        <h6 class="mt-2">Remove account</h6>
                                                        <small class="text-muted d-block" style="width:70%">Once you delete your account, there is no going back.</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                
                            
                                        </section>
								    	<br>
					
								    </div><!-- .End .tab-pane -->

								 



					
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <%- include('../partials/ecomMobileMenu') %><!-- End .mobile-menu-container -->

    <%- include('../layouts/footer.ejs') %>

