<%- include('../layouts/header') %>
    <div class="page-wrapper">
        <%- include('../partials/ecomHeader1') %>


            <main class="main">

                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <div class="row">
                                <%- include('../partials/ecomUserProfileAside') %>
                           

                                <div class="col-md-8 col-lg-10">
                                    <div class="tab-content">
     

                       

                                        <div class="tab-pane fade show active" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">


                          



                                        
                                        <div class="card card-dashboard m-5 "   >

                                    
                                       
                                                <div class="content-header">
                                                    <div class="card-body">
                                                        <h2 class="content-title card-title">Order details</h2>
                                                        <p>Details for Order ID:<%= order._id %></p>
                                                        <div class=" mt-4">
                                                            <a class="btn btn-outline-primary-2" href="/generate-invoice/<%= order._id %>">Invoice</a>
                                                            <% if (order.status !== 'Cancelled' && order.status !== 'Return Confirmed'&& order.status !== 'return requested' && order.status !== 'Cancel requested'  ) { %>
                                                                <% if (order.status === 'Delivered') {%>
                                                                    <% const currentDate = new Date(); %>
                                                                    <% const deliveryDate = new Date(order.deliveryDate); %>
                                                                    <% const sevenDaysLater = new Date(deliveryDate); %>
                                                                    <% sevenDaysLater.setDate(deliveryDate.getDate() + 7); %>
                                                                    <% if (currentDate <= sevenDaysLater) { %>
                                                                        <a class="btn btn-outline-primary-2" href="/returnOrder/<%= order._id %>"
                                                                            onclick="return confirm('Are you sure you want to Return <%= order.items[0].product.name  %>');">
                                                                            Return Order
                                                                          </a>
                                                          
                                                              
                                                              
                                                                <% const remainingDays = Math.ceil((sevenDaysLater - currentDate) / (1000 * 60 * 60 * 24)); %>
                                                                <p class="text-muted">Remaining Days to Return: <%= remainingDays %> days</p>
                                                                <% } %>
                                                            <% }else{ %>
                                                                <a class="btn btn-outline-primary-2" href="/cancelOrder/<%= order._id %>"
                                                                    onclick="return confirm('Are you sure you want to Cancel <%= order.items[0].product.name  %>');">
                                                                    Cancel Order
                                                                  </a>
                                                      
                                                            
                                                               
                                                                 
                                                              
                                                                    <% } %>
                                                                    <% } %>
                                                                                                              
            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card" >
                                                    <header class="card-header">
                                                        <div class="card-body" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                                           
                                                           
                                                               <div>
                                                                <b> Order ID: </b><span><P> <%= order._id %></P></span> 
                                                                <div class="mt-5">     
                                                                <b> Ordered Date :</b><p><span class="text"><%= order.orderDate.toDateString() %></span></p> 
                                                            </div>                                                                        
                                                               
                                                            </div>                                                    
                                                      
                                                               <div style="width: 150px;">
                                                                <b> Order Status:</b>     <% if (order.status === 'Pending') { %>
                                                                    <p><span class="text-warning"><%= order.status %></span></p>
                                                                <% } else if (order.status === 'Order Confirmed') { %>
                                                                    <p><span class=text-warning"><%= order.status %></span></p>
                                                                <% } else if (order.status === 'Shipped') { %>
                                                                    <p><span class="text-dark"><%= order.status %></span></p>
                                                                <% } else if (order.status === 'Out For Delivery') { %>
                                                                    <p><span class="text-dark"><%= order.status %></span></p>
                                                                <% } else if (order.status === 'Delivered') { %>
                                                                   <p> <span class="text-success"><%= order.status %></span></p>
                                                                <% } else { %>
                                                                    <p><span class="text-danger"><%= order.status %></span></p>
                                                                <% } %>        
                                                                <div class="mt-5">                                                                                                                    
                                                            <b> Payment Status:</b><span><P> <%= order.paymentStatus %></P></span> 
                                                        </div>  
                                                               
                                                          
                                                            </div>
                                           
                                                          
                                                   
                                                    </div>
                                                    </header> <!-- card-header end// -->
                                                    <div class="card-body">


                                                        
                                                        <div  style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                                            <div style="width: 150px;">
                                                            
                                                                    
                                                                  
                                                                    <div >
                                                                        <h6 class="mb-1">    <i class="fa-solid fa-user"></i> Customer</h6>
                                                                        <p class="mb-1">
                                                                            <%= order.user.name %><br>  <br> <%= order.user.mobile %> <br> <%= order.user.email %>
                                                                        </p>
                                                                      
                                                                    </div>  
                                                            </div> <!-- col// -->
                                                            <div style="width: 150px;">
                                                               
                                                                    <div class="text">
                                                                        <h6 class="mb-1"><i class="fa-solid fa-cart-shopping"></i> Order info</h6>
                                                                        <p class="mb-1">
                                                                          <b>Status:</b>   <%= order.status %><br><b>Pay method:</b><br> <%= order.paymentMethod %>
                                                                        </p>
                                                                      
                                                                    </div>
                                                                </div>
                                                                    <div style="width: 150px;">
                                                     
                                                             
                                                                    <div class="text">
                                                                        <h6 class="mb-1"> <i class="fa-solid fa-location-dot"></i> Deliver to</h6>
                                                                        <p class="mb-1">
                                                                            <b>City:</b>  <%= order.address.city %> <br><%= order.address.houseName %> <br><%= order.address.pinCode %>
                                                                        </p>
                                                                        
                                                                    </div>
                                                              
                                                            </div> <!-- col// -->
                                                        </div> <!-- row // -->
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            
                                                                            <tr>
                                                                                <th width="">Product</th>
                                                                                <th width="40%"></th>
                                                                                <th width="20%">Unit Price</th>
                                                                                <th width="20%">Quantity</th>
                                                                                <th width="30%">Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% order.items.forEach(function(item) { %>
                                                                            <tr>
                                                                                <td>
                                                                                  
                                                                                        <img src="/public/assets/images/productImages/<%= item.product.productImages[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                                                    

                                                                                </td>
                                                                                <td>
                                                                                  
                                                                                       
                                                                                        <div class="info">  <%= item.product.name %> </div>
                                                                                    
                                                                                </td>
                                                                                <td><%= item.price %> </td>
                                                                                <td> <%= item.quantity %></td>
                                                                                <td class="text-end"> ₹   <%= item.price * item.quantity %> </td>
                                                                            </tr>
                                                                             <% }); %>
                                    
                                    
                                                                            <tr>
                                                                              
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="d-flex justify-content-end">
                                                                        <div  >
                                                                            <dl class="dlist d-flex justify-content-between" style="width: 250px;">
                                                                                <p>Subtotal:</p>
                                                                                <p> ₹  <%= order.totalAmount-100 %> </p>
                                                                            </dl>
                                                                            <dl class="dlist d-flex justify-content-between" style="width: 250px;">
                                                                                <p>Shipping cost:</p>
                                                                                <p> ₹ 100</p>
                                                                            </dl> 
                                                                            <dl class="dlist d-flex justify-content-between"style="width: 250px;">
                                                                                <h5>Grand total:</h5>
                                                                                <h5>₹  <%= order.totalAmount %> </h5>
                                                                            </dl>
                                                                          
                                                                        </div>
                                                                    </div> 
                                                                </div> <!-- table-responsive// -->
                                                            </div> <!-- col// -->
                                                            
                                                        
                                                        </div>
                                                    </div>
                                                    </div> <!-- card-body end// -->
                                                </div> <!-- card end// -->
                                           
                                          


                                                
                    
                                          
                                        </div>

                                      

                                        
                                        
                                    </div>
                                </div><!-- End .col-lg-9 -->
                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .dashboard -->
                </div><!-- End .page-content -->
            </main><!-- End .main -->

            <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <%- include('../partials/ecomMobileMenu') %><!-- End .mobile-menu-container -->


    <script>
        function isReturnAllowed(deliveryDate) {
  const sevenDaysInMillis = 7 * 24 * 60 * 60 * 1000; // 7 days in milliseconds
  const currentDate = new Date();
  const returnDate = new Date(deliveryDate.getTime() + sevenDaysInMillis);
  
  return currentDate <= returnDate;
}

    </script>
    <%- include('../layouts/footer.ejs') %>
    