<!DOCTYPE html>
<html lang="en">


<!-- molla/category-market.html  22 Nov 2019 10:02:55 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UrbanApple</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="assets/css/demos/demo-13.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <!-- Include a required theme -->
        <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
        <script src="sweetalert2/dist/sweetalert2.min.js"></script>

</head>

<body>
    <div class="page-wrapper">
        <%- include('../partials/ecomHeader1') %>

            <main class="main">
                
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
           
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->
                <form id="filterForm" action="" method="get">
                    <div class="page-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-xl-4-5col">
                                    <!-- Include this section in your view template to display flash messages -->
                                    <% if (typeof messages !=='undefined' && messages.error) { %>
                                        <div class="error-message">
                                            <%= messages.error %>
                                        </div>
                                        <% } %>

                                            <div class="mb-3">

                                            </div><!-- End .mb-2 -->

                                            <h2 class="title title-border ">Featured Products</h2><!-- End .title -->


                                            <div class="mb-2"></div><!-- End .mb-4 -->

                                            <div class="toolbox">
                                                <div class="toolbox-left">
                                                    <div class="toolbox-info">

                                                    </div><!-- End .toolbox-info -->
                                                </div><!-- End .toolbox-left -->

                                                <div class="toolbox-right">
                                                    <div class="toolbox-sort">
                                                        <label>Sort by Price:</label>
                                                        <div class="filter-group">

                                                            <select name="sortBy" class="form-control">
                                                                <option value="priceLowToHigh"
                                                                    <%=sortBy==="priceLowToHigh" ? "selected" : "" %>
                                                                    >Price: Low to High</option>
                                                                <option value="priceHighToLow"
                                                                    <%=sortBy==="priceHighToLow" ? "selected" : "" %>
                                                                    >Price: High to Low</option>
                                                            </select>
                                                        </div>
                                                    </div><!-- End .toolbox-sort -->
                                                </div><!-- End .toolbox-right -->
                                            </div><!-- End .toolbox -->

                                            <div class="products mb-3">
                                                <div class="row">
                                                    <% if (products.length> 0) { %>
                                                        <% products.filter(product=> product.list ===
                                                            true).forEach((product) => { %>
                                                            <div class="col-6 col-md-4 col-xl-3">
                                                             
                                                                <% if (product.discountStatus && new Date(product.startDate) <= new Date() && new Date(product.endDate) >= new Date()) { %>
                                                                    
                                                                    <% if (product.price > product.discountPrice) { %>
                                                                        <span class="product-label label-top">Sale</span>
                                                                    <% } %>
                                                                <% } %>
                                                                
                                                                <div class="product ">
                                                                    <figure class="product-media"  style="background-color: white;">
                                                                        <a href="/viewproduct/<%=product._id%>">
                                                                            <img <% if(product.quantity ==0){ %> style="opacity: 50%;" <% } %>   src="public/assets/images/productImages/<%= product.productImages[0] %>"
                                                                                alt="Product image"
                                                                                class="product-image ">
                                                                        </a>
                                                                        <% if(product.quantity !== 0){ %>       
                                                                            <div class="product-action-vertical">
                                                                                <a class="btn-product-icon btn-wishlist btn-expandable" data-product-id="<%= product._id %>">
                                                                                    <span>add to wishlist</span>
                                                                                </a>
                                                                            </div>
                                                                            
                                                                        <div class="product-action">
                                                                            <button type="button" class="btn btn-outline-primary-2 addToCartBtn" data-product-id="<%= product._id %>">
                                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                                Add to cart
                                                                            </button>
                                                                        </div>
                                                                        <% } %>
                                                                          
                                                           
                                                                    </figure><!-- End .product-media -->

                                                                    <div class="product-body">
                                                                        <div class="product-cat">
                                                                            <a href="#"><%= product.category %></a>
                                                                        </div><!-- End .product-cat -->
                                                                        <h3 class="product-title">
                                                                            <a href="/viewproduct/<%=product._id%>">
                                                                                <% if (product.name.length > 50) { %>
                                                                                    <%= product.name.slice(0, 60) + '...' %>
                                                                                <% } else { %>
                                                                                    <%= product.name %>
                                                                                <% } %>
                                                                            </a>
                                                                        </h3><!-- End .product-title -->
                                                                        
                                                                        <% if (product.quantity !== 0) { %>       
                                                                            <div class="product-price">
                                                                                <% if (product.discountStatus && new Date(product.startDate) <= new Date() && new Date(product.endDate) >= new Date()) { %>
                                                                                    ₹ <%= product.discountPrice %>
                                                                                    <% if (product.price > product.discountPrice) { %>  
                                                                                        <span class="old-price ml-3" style="text-decoration: line-through;"> ₹ <%= product.price %> </span>
                                                                                
                                                                                    <% } %>
                                                                                <% } else { %>
                                                                                    ₹ <%= product.price %>
                                                                                <% } %>
                                                                            </div><!-- End .product-price -->
                                                                        <% } else { %>
                                                                            <div class="my-3" style="display: flex; align-items: center; color: red;">
                                                                                <p style="color: red; font-size: 12px;">Product out of stock</p>
                                                                            </div>
                                                                        <% } %>
                                                                        
                                                                        <% if (product.ratings && product.ratings.length > 0) { %>
                                                                            <% let sum = product.ratings.reduce((acc, rating) => acc + rating, 0); %>
                                                                            <% let averageRating = sum / product.ratings.length; %>
                                                                            <div class="ratings-container">
                                                                                <div class="ratings">
                                                                                    <div class="ratings-val" style="width: <%= (averageRating / 5) * 100 %>%;"></div>
                                                                                    <!-- End .ratings-val -->
                                                                                </div><!-- End .ratings -->
                                                                                <span class="ratings-text">(<%= product.ratings.length %> Reviews)</span>
                                                                            </div><!-- End .ratings-container -->
                                                                        <% } else { %>
                                                                            <div class="ratings-container">
                                                                                <div class="ratings">
                                                                                    <div class="ratings-val" style="width: 0%;"></div>
                                                                                    <!-- End .ratings-val -->
                                                                                </div><!-- End .ratings -->
                                                                                <span class="ratings-text">(No Reviews)</span>
                                                                            </div><!-- End .ratings-container -->
                                                                        <% } %>
                                                                    </div>
                                                                    <!-- End .product-body -->
                                                                </div><!-- End .product -->
                                                            </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
                                                            <% }); %>
                                                                <% } else { %>
                                                                    <p>Products not found</p>
                                                                    <% } %>
                                                </div><!-- End .row -->

                                            </div><!-- End .products -->

                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                  <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                                    <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="<%= currentPage === 1 %>">
                                                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                    </a>
                                                  </li>
                                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>" aria-current="page">
                                                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                                    </li>
                                                  <% } %>
                                                  <li class="page-item-total">of <%= totalPages %></li>
                                                  <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                                    <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                    </a>
                                                  </li>
                                                </ul>
                                              </nav>
                                              
                                </div>
                                <!-- End .col-lg-9 -->


                                <aside class="col-lg-3 col-xl-5col order-lg-first">

                                    <div class="sidebar sidebar-shop">
                                        <br>


                                        <div class="widget">


                                            <h3 class="widget-title">Categories</h3><!-- End .widget-title -->
                                            <hr>

                                            <div class="widget-body">
                                                <div class="filter-items">





                                                    <div class="filter-group">
                                                        <% category.forEach((cat)=> {
                                                            const isSelected =
                                                            selectedCategories.includes(cat.category);
                                                            %>
                                                            <div>
                                                                <input name="category" type="checkbox"
                                                                    value="<%= cat.category %>" id="product-cat"
                                                                    <%=isSelected ? 'checked' : '' %>>
                                                                <label for="product-cat">
                                                                    <%= cat.category %>
                                                                </label>
                                                            </div>
                                                            <% }); %>
                                                    </div>
                                                </div><!-- End .widget -->
                                            </div><!-- End .widget -->
                                        </div><!-- End .widget -->


                                        <div class="widget">
                                            <h3 class="widget-title">Price</h3><!-- End .widget-title -->

                                            <div class="widget-body">

                                                <div class="filter-group">
                                                    <label>Price Range:</label>
                                                    <div>
                                                        <input type="radio" id="priceAll" name="price" value="all"
                                                            <%=selectedPriceRange==='all' ? 'checked' : '' %>>
                                                        <label for="priceAll">All Prices</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="priceUnder25" name="price"
                                                            value="under25" <%=selectedPriceRange==='under25'
                                                            ? 'checked' : '' %>>
                                                        <label for="priceUnder25">Under ₹20,000</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="price25to50" name="price" value="25to50"
                                                            <%=selectedPriceRange==='25to50' ? 'checked' : '' %>>
                                                        <label for="price25to50"> ₹20,000 to ₹40,000</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="price50to100" name="price"
                                                            value="50to100" <%=selectedPriceRange==='50to100'
                                                            ? 'checked' : '' %>>
                                                        <label for="price50to100"> ₹40,000 to ₹60,000</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="price100to200" name="price"
                                                            value="100to200" <%=selectedPriceRange==='100to200'
                                                            ? 'checked' : '' %>>
                                                        <label for="price100to200"> ₹60,000 to ₹80,000</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" id="price200above" name="price"
                                                            value="200above" <%=selectedPriceRange==='200above'
                                                            ? 'checked' : '' %>>
                                                        <label for="price200above"> ₹80,000 & Above</label>
                                                    </div>
                                                </div>

                                            </div><!-- End .widget-body -->
                                        </div><!-- End .widget -->



                                        <div class="widget">
                                            <h3 class="widget-title">Colour</h3><!-- End .widget-title -->
                                            <div class="widget-body">
                                                <div class="filter-group">
                                                    <label>Color:</label>
                                                    <div>
                                                        <input type="checkbox" id="colorBlack" name="color"
                                                            value="Black" <%=selectedColors.includes('Black')
                                                            ? 'checked' : '' %>>
                                                        <label for="colorBlack">Black</label>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" id="colorWhite" name="color"
                                                            value="White" <%=selectedColors.includes('White')
                                                            ? 'checked' : '' %>>
                                                        <label for="colorWhite">White</label>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" id="colorBlue" name="color" value="Blue"
                                                            <%=selectedColors.includes('Blue') ? 'checked' : '' %>>
                                                        <label for="colorBlue">Blue</label>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" id="colorPink" name="color" value="Pink"
                                                            <%=selectedColors.includes('Pink') ? 'checked' : '' %>>
                                                        <label for="colorPink">Pink</label>
                                                    </div>
                                                    <!-- Add more color checkboxes here -->
                                                </div>
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .widget -->


                                        <button type="submit" class="btn btn-outline-primary-2 ">Apply Filters <i
                                                class="fa-solid fa-arrow-right"></i> </button> <br>
                                        <a href="/productlist" class="btn btn-primary mt-3 "> Reset all <i
                                                class="fa-solid fa-xmark"></i> </a>


                                        <!-- End .sidebar sidebar-shop -->


                                </aside><!-- End .col-lg-3 -->

                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .page-content -->
                </form>

            </main><!-- End .main -->

              <!-- start.snackbar -->
              <div id="snackbar"><i class="fa-solid fa-circle-check"></i>  The item is added to Cart..</div>

              <div id="wishlist"><i class="fa-solid fa-circle-check"></i>  The item is added to Wishlist..</div>
              
              <div id="alreadyInWishlist"><i class="fa-solid fa-circle-check"></i>  The item already in Wishlist..</div>
               <!-- end.snackbar -->

            <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


    <%- include('../partials/ecomMobileMenu') %><!-- End .mobile-menu-container -->
    <%- include('../layouts/footer.ejs') %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <script>
            function wishlistFunction() {
        var x = document.getElementById("wishlist");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
    
    function cartFunction() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
    
    function alreadyInWishlist() {
        var x = document.getElementById("alreadyInWishlist");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
            document.addEventListener('DOMContentLoaded', () => {
                
                const addToCartButtons = document.querySelectorAll('.addToCartBtn');
        
                addToCartButtons.forEach(button => {
                    button.addEventListener('click', async () => {
                        const productId = button.getAttribute('data-product-id');
        
                        try {
                            const response = await fetch(`/add-to-cart/${productId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ qty: 1 }), 
                            });
        
                            const data = await response.json();
        
                            if (response.ok) {
                           if (data.success) {
                            cartFunction();
                           
                             } else {
                             alert('Failed to add product to cart');
                                 }
                            } else if (response.status === 401) {
                                Swal.fire({
                                    title: "Please Login!",
                                     text: "Please login to add items to Cart",
                                        icon: "warning",
                                        background: '#ffffff', 
                                        customClass: {
                                        popup: 'white-background', 
                                        },
                                        showCancelButton: true,
                                    
                                        
                                            confirmButtonText: "login page",
                                        
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                            
                                                window.location.href = '/login';
                                            
                                            }
                                        });
                                
                            } else {
                           alert('Failed to add product to cart');
                                }
                        } catch (error) {
                            console.error('Error adding product to cart:', error);
                            alert('Error adding product to cart');
                        }
                    });
                });
            });
    
            
            document.addEventListener('DOMContentLoaded', () => {
        const wishlistButtons = document.querySelectorAll('.btn-wishlist');
    
        wishlistButtons.forEach(button => {
            button.addEventListener('click', async (event) => {
                event.preventDefault(); 
    
                const productId = button.getAttribute('data-product-id');
    
                try {
                    const response = await fetch(`/addToWishlist/${productId}`, {
                        method: 'GET', 
                        headers: {
                            'Content-Type': 'application/json',
                        },
                      
                    });
    
                    const data = await response.json();
                    if (response.ok) {
                               if (data.success) {
                                wishlistFunction();
                             
                                 } } else if (response.status === 401) {
                                  
                                  Swal.fire({
                                    title: "Please Login!",
                                     text: "Please login to add items to wishlist",
                                        icon: "warning",
                                        background: '#ffffff', 
                                        customClass: {
                                        popup: 'white-background', 
                                        },
                                        showCancelButton: true,
                                    
                                        
                                            confirmButtonText: "login page",
                                        
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                            
                                                window.location.href = '/login';
                                            
                                            }
                                        });
                                
                                     
                                } else if (response.status === 400) {
                                    alreadyInWishlist()
                                  
                                } else
                                 {
                               alert('Failed to add product to wishlist');
                                    }
                } catch (error) {
                    console.error('Error adding product to wishlist:', error);
                }
            });
        });
    });
    
        </script>
        <style>
            #wishlist {
          visibility: hidden;
          min-width: 250px;
          margin-left: -125px;
          background-color: rgb(0, 145, 255);
          color: #ffffff;
          text-align: center;
          border-radius: 2px;
          padding: 16px;
          position: fixed;
          z-index: 10;
          left: 50%;
          bottom: 30px;
          font-size: 12px;
        }
        
        #wishlist.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        #snackbar {
          visibility: hidden;
          min-width: 250px;
          margin-left: -125px;
          background-color: rgb(0, 145, 255);
          color: #fff;
          text-align: center;
          border-radius: 2px;
          padding: 16px;
          position: fixed;
          z-index: 10;
          left: 50%;
          bottom: 30px;
          font-size: 12px;
        }
        
        #snackbar.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        #alreadyInWishlist {
          visibility: hidden;
          min-width: 250px;
          margin-left: -125px;
          background-color:#ff4343;
          color: #fff;
          text-align: center;
          border-radius: 2px;
          padding: 16px;
          position: fixed;
          z-index: 10;
          left: 50%;
          bottom: 30px;
          font-size: 12px;
        }
        
        #alreadyInWishlist.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;} 
          to {bottom: 30px; opacity: 1;}
        }
        
        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }
        
        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;} 
          to {bottom: 0; opacity: 0;}
        }
        
        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
        </style>