<%- include('../layouts/header') %>
    <div class="page-wrapper">
        <%- include('../partials/ecomHeader1') %>


            <main class="main">

                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <div class="row">
                                <%- include('../partials/ecomUserProfileAside') %>
                           

                                <div class="col-md-8 col-lg-10">
                                    <div class="tab-content">
           

                                        <div class="tab-pane fade show active" id="tab-account" role="tabpanel"
                                            aria-labelledby="tab-account-link">
                                           
                                              
                                        <section class="content-body p-xl-4">
                                          
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="row gx-3">
                                                            <div class="col-6  mb-3">
                                                                <label style="font-weight: 600;" class="form-label">First name</label>
                                                               <p><%= user.name.split(' ')[0] %></p>
                                                            </div> <!-- col .// -->
                                                            <div class="col-6  mb-3">
                                                                <label style="font-weight: 600;"  class="form-label">Last name</label>
                                                                <p><%= user.name.split(' ')[1] %></p>
                                                            </div> <!-- col .// -->
                                                            <div class="col-lg-6  mb-3">
                                                                <label style="font-weight: 600;"   class="form-label">Email</label>
                                                               <p><%= user.email %></p>
                                                            </div> <!-- col .// -->
                                                            <div class="col-lg-6  mb-3">
                                                                <label  style="font-weight: 600;"    class="form-label">Phone</label>
                                                                <p><%= user.mobile %></p>
                                                            </div> <!-- col .// -->
                                                    
                                                     
                                                        </div> <!-- row.// -->
                                                    </div> <!-- col.// -->
                                                    <aside class="col-lg-2">
                                                        <figure class="text-lg-center">
                                                            <img  class="img-lg mb-3 img-avatar " src="/assets/images/userImages/<%=user.image%>" alt="User Photo">
                                                          
                                                        </figure>
                                                    </aside> <!-- col.// -->
                                                </div> <!-- row.// -->
                                                <br>
                                       
                                            </form>
                                            <hr class="my-5">
                                            <div class="row" style="max-width:920px">
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/changePassword">Change</a>
                                                        <h6 class="mt-2">Password</h6>
                                                        <small class="text-muted d-block " style="width:70%">You can reset or change your password by clicking here</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/edituser?userId=<%= user._id.toString() %>">Edit</a>
                                                        <h6 class="mt-2">Edit account</h6>
                                                        <small class="text-muted d-block" style="width:70%">You can change your account details by clicking here.</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light p-4">
                                                        <a class="btn btn-outline-primary-2" href="/delete-user?id=<%= user._id.toString() %>">Deactivate</a>
                                                        <h6 class="mt-2">Remove account</h6>
                                                        <small class="text-muted d-block" style="width:70%">Once you delete your account, there is no going back.</small>
                                                    </article>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                        </section>
								    	<br>

                                        </div><!-- .End .tab-pane -->

                                   
                                                                </div>
                                                            </td>
                                                            <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                                                        </tr>
                                                 
                                                   
                                                    </tbody>
                                                </table><!-- End .table table-wishlist -->
                  
                                            </div><!-- End .container -->
                                        </div><!-- .End .tab-pane -->
                                        <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                            aria-labelledby="tab-wallet-link">
                                            <p>Wallet</p>
                                        </div><!-- .End .tab-pane -->
                                        
                                    </div>
                                </div><!-- End .col-lg-9 -->
                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .dashboard -->
                </div><!-- End .page-content -->
            </main><!-- End .main -->

            <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <%- include('../partials/ecomMobileMenu') %><!-- End .mobile-menu-container -->


    <%- include('../layouts/footer.ejs') %>
    