<%- include('../layouts/header') %>


    <div class="page-wrapper">
        <%- include('../partials/ecomHeader1') %>

        <main class="main">
        
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
       
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->





            <div class="page-content">
                <% if (wishlist.length === 0) { %>
                    <div class="container d-flex justify-content-center align-items-center" >
                        <div class="text-center">
                            <i class="fa-solid fa-heart-circle-plus"  style="font-size: 40px; margin-top: 70px;"></i>
             
                            <h4 class="text-secondary mt-3">Your Wishlist is currently empty</h4>
                            <p>Add products to your wishlist from our Feautued products</p>
                            <a href="/home"  class="btn btn-outline-primary-2 m-4" >Return to Shop</a>
                        
                            
                        </div>
                    </div>


                    <% } else { %>
            	<div class="container">
                    
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
                            <% for (let i = 0; i < wishlist.length; i++) { %>

							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="#">
												<img src="public/assets/images/productImages/<%= wishlist[i].product.productImages[0] %>" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
											<a href="#"><%= wishlist[i].product.name %></a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">₹<%= wishlist[i].product.discountPrice %></td>
                                <td class="stock-col">
                                    <% if (wishlist[i].product.quantity <= 0) { %>
                                        <span class="out-of-stock">Out of stock</span>
                                    <% } else { %>
                                        <span class="in-stock">In stock</span>
                                    <% } %>
                                </td>
                                <td class="action-col">
                                    <% if (wishlist[i].product.quantity <= 0) { %>
                                        <button class="btn btn-block btn-outline-primary-2 disabled" disabled>Add to Cart</button>
                                    <% } else { %>
                                   
                                      
                                            <form   class="add-to-cart-form"
                                                action="/add-to-cart/<%=wishlist[i].product._id %>"
                                                method="post">
                                                <button type="submit"
                                                    class="btn btn-outline-primary-2 "
                                                    data-product-id="<%=wishlist[i].product._id %>">
                                                    <i
                                                        class="fa-solid fa-cart-plus"></i>
                                                    Add to cart
                                                </button>
                                                <input  value="1"
                                                    name="qty" style="display: none;">
                                            </form>
                                       
                                    <% } %>
                                </td>>
								<td class="remove-col"> <a href="/removeItemFromWishlist/<%=wishlist[i].product._id %>"><i class="icon-close"></i></a></td>
							</tr>



                            <% } %>

						</tbody>
					</table>
                    <% } %>





            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../partials/ecomFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <%- include('../partials/ecomMobileMenu') %><!-- End .mobile-menu-container -->




 

    <%- include('../layouts/footer.ejs') %>
